amqp
appdirs
beautifulsoup4
billiard
boto
celery
certifi
chardet
colorclass
Cython
defusedxml
dj-database-url
Django>=5
django-autocomplete-light
django-celery
django-celery-beat
django-compat
django-cors-headers
django-environ
django-hijack
django-hijack-admin
django-storages
django-tastypie
djrill
docopt
enum34
feedparser
gunicorn
html5lib
idna
ipaddress
kombu
Logentries
lxml
olefile
packaging
Pillow
pip-upgrader
psycopg2-binary
pyasn1
pycparser
pyparsing
PyPDF2
python-dateutil
python-freshdesk
python-mimeparse
pytz
redis
reportlab
requests
requests-toolbelt
six
South
sqlparse
terminaltables
urllib3
vine
webencodings
whitenoise
xhtml2pdf
